name: Build and deploy an app to AKS

on:
  push:
    branches: ["development_server"]
  workflow_dispatch:

env:
  AZURE_CONTAINER_REGISTRY: ${{secrets.AZURE_REGISTRY}}
  CONTAINER_NAME: ${{secrets.AZURE_REGISTRY_USERNAME}}
  CONTAINER_PASSWORD: ${{secrets.AZURE_REGISTRY_PASSWORD}}
  IMAGE_NAME: dharapat-prime-bank-cib
  IMAGE_TAG: ${{ github.run_number }}
  RESOURCE_GROUP: ${{secrets.AZURE_REGISTRY_USERNAME}}
  CLUSTER_NAME: ${{secrets.AZURE_CLUSTER_NAME}}
  AZURE_CREDENTIALS: ${{secrets.AZURE_CREDENTIALS}}
  AZURE_CLUSTER_TOKEN: ${{secrets.AZURE_CLUSTER_TOKEN}}
  AZURE_CLUSTER_URL: ${{secrets.AZURE_CLUSTER_URL}}
  DEPLOYMENT_MANIFEST_PATH: ${{github.workspace}}/k8s/templates/

jobs:
  buildImage:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      # Checks out the repository this file is in
      - name: Check out code
        uses: actions/checkout@v3

      - name: Build docker image
        run:
         docker build -t ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}} -f ${{github.workspace}}/DockerFile .
      
      - name: Login to Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ env.AZURE_CONTAINER_REGISTRY }}
          username: ${{ env.CONTAINER_NAME }}
          password: ${{ env.CONTAINER_PASSWORD }}
      
      - name: Push Docker image to Azure Container Registry
        run: |
          echo ${{env.AZURE_CONTAINER_REGISTRY}}/${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
          docker tag ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}} ${{env.AZURE_CONTAINER_REGISTRY}}/${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
          docker push ${{env.AZURE_CONTAINER_REGISTRY}}/${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}

  deploy:
    permissions:
      actions: read
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    needs: [buildImage]
    steps:
      # Checks out the repository this file is in
      - name: Checkout Code
        uses: actions/checkout@v3

      # Use kubelogin to configure your kubeconfig for Azure auth
      - name: Install Kubectl
        uses: azure/setup-kubectl@v1
      - name: Login to AKS cluster
        uses: azure/login@v1
        with:
          creds: ${{ env.AZURE_CREDENTIALS }}
          # cluster-name: ${{env.CLUSTER_NAME}}
          # resource-group: ${{env.RESOURCE_GROUP}}

      # Retrieves your Azure Kubernetes Service cluster's kubeconfig file
      - name: Get K8s context
        uses: azure/aks-set-context@v3
        with:
          subscription: ${{ env.AZURE_SUBSCRIPTION_ID }}
          resource-group: ${{ env.RESOURCE_GROUP }}
          cluster-name: ${{ env.CLUSTER_NAME }}
          admin: 'false'
          use-kubelogin: 'false'

      # Deploys application based on given manifest file
      - name: Update deployment YAML file
        run: |
          sed -i "s|image: docker-image|image: ${{env.AZURE_CONTAINER_REGISTRY}}/${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}|" ${{ env.DEPLOYMENT_MANIFEST_PATH }}/2-deployment.yaml

      - name: Deploys application
        uses: Azure/k8s-deploy@v4
        with:
          action: deploy
          manifests: ${{ env.DEPLOYMENT_MANIFEST_PATH }}
          images: |
            ${{env.AZURE_CONTAINER_REGISTRY}}/${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
          namespace: dev-cib-analytics